* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #e79dfa;
    text-align: center;
}

thead {
    background-color: #f5f5f5;
}